@using Site.Models.Entities
@{
    ViewData["Title"] = "Изменение курса";
}
@model Course

<h2>@Model.Name</h2>

<div class="mb-3">
    <form method="post" asp-action="EditCourse">
        <label class="form-label">Описание</label>
          <textarea class="form-control mb-3" rows="3" name="description" value="@Model.Description">@Model.Description</textarea>
          <input type='hidden' name="id" value="@Model.Id"/>
          <button type="submit" class='btn btn-primary'>Сохранить</button>
    </form>
  
</div>

<ul class="list-group mb-3">
    @foreach(var i in Model.Materials)
    {
        <li class="list-group-item">
            <div style="display:flex; justify-content:space-between; align-items:center">
                <a asp-controller='Material' asp-action="EditMaterial" asp-route-id="@i.Id">@i.Name</a>
            </div>
        </li>
    }
</ul>

<form method="post" asp-action="AddMaterial">
    <div style="display:flex; align-items:center">
        <input type='hidden' name="id" value="@Model.Id"/>
        <input style="width:200px; margin-right:5px" class="form-control" placeholder="Название лекции" type='text' name="name"/>
        <button type="submit" class="btn btn-primary">
            Добавить
        </button>
    </div>
</form>

